/*  
*  Disables standard content-box sizing.
*
*/

*, *::before, *::after {
    box-sizing: border-box;
  }


/*  
*  Removes all default margin sets the line height to meet WCAG criteria.
*
*/

* {
    margin: 0;
    line-height: calc(1em + 0.5rem);
    padding: 0;
}


/*
* Removes default inline display for media and fits media to its container.
*
*/

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
* Form controls will use parent's font.
*
*/

input, button, textarea, select {
  font: inherit;
}

/*
* Allows paragraphs to break words and add hyphens were necessary.
*
*/

p {
  overflow-wrap: break-word;
  hyphens: auto;
}

/*********************************************************************/

:root {

    --c-primary: #EF8354;
    --c-primary-light: #BFC0C0;

    --c-neutral: #4F5D75;
    --c-neutral-dark: #2D3142;

    --c-background: #FFFFFF;
}

body {
    height: 100vh;
    font-family: Helvetica;
    background-color: var(--c-background);
}

#page-container {
    height: 100%;
}

#tutorial {
    color: var(--c-neutral);
    opacity: 0.6;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 10vw;
    background-color: var(--c-background);
    box-shadow: 0px 1px 3px var(--c-neutral-dark);
}

main {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 10vh 10vw;
}

footer {
    width: 100%;
    justify-content: center;
    position: fixed;
    bottom: 0;
    padding: 2vh 2vw;
    display: flex;
}

#logo {
    color: var(--c-primary);
    font-size: 2rem;
    font-weight: 700;
}

.add-btn {
    height: 50px;
    width: 50px;
    font-size: 4rem;
    color: var(--c-primary);
    background-color: var(--c-background);
    border: none;
    transition: all 0.5s;
    cursor: pointer;
    border-radius: 10px;
}

.big-btn {
    height: 300px;
    width: 200px;
    font-size: 6rem;
    justify-self: center;
}

.add-btn:hover {
    background-color: var(--c-primary-light);
}

.my-name {
    color: var(--c-primary);
}

#book-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(300px,1fr));
    column-gap: 25px;
    row-gap: 80px;
}

.book-card {
    justify-self: center;
    display: grid;

    grid-template: 0.1fr / repeat(3, 1fr);
    
    height: 300px;

    background-color: var(--c-neutral-dark);
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 20px;
    padding-left: 30px;
    border: 3px solid var(--c-primary);
    border-left-color: var(--c-neutral-dark);
    box-shadow: -3px 3px 10px var(--c-neutral-dark);
}

.book-card::before {
    content: "";
    height: 291px;
    width: 3px;
    position:absolute;
    background-color: var(--c-neutral-dark);
    transform: translate(-25px, -18px);
    box-shadow: 5px 0px 5px black;
}

.book-title {
    grid-column: span 3;
    font-size: 1.5rem;
    color: var(--c-neutral-dark);
    font-weight: 600;
    background-color: var(--c-background);
    text-align: center;
    padding: 4px;
    border-radius: 2px;
    border: 3px solid var(--c-neutral);
    box-shadow: inset 1px 1px 2px black, inset -1px -1px 2px black;


}

.book-author {
    grid-column: span 3;
    grid-row: 2;
    align-self: top;
    justify-self: center;
    font-style: italic;
    color: var(--c-primary);
}

.book-pages {
    grid-row: 3;
    grid-column: 1;
    align-self: end;
    justify-self: center;
    color: var(--c-primary-light);
    font-size: 0.9rem;
    text-align: center;

}

dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
    width: 270px;
    background-color: var(--c-background);
    border: none;
    border-radius: 10px;
}

h3 {
    font-weight: 600;
    color: var(--c-primary);
}

dialog p {
    font-weight: 100;
    font-style: italic;
    color: var(--c-neutral);
}

form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 1rem;
}

.input-container {
    /* display: grid;

    grid-template-columns: repeat(auto-fill, (600px, 1fr)); */

    display: flex;
    flex-direction: column;
    gap: 5px;
}

span[aria-label="Required"] {
    color: red;
}

input {
    background-color: var(--c-background);
    border: 1px solid var(--c-primary);
    width: max(200px);
    outline: none;
    padding:  5px;
}

input + span {
    position: relative;
}

input:valid + span::after {
    content: url('./svg/check.svg');

    position: absolute;
    height: 24px;
    width: 24px;
    transform: translate(210px, -40px);
    color: var(--c-primary);
}


input:focus {
    border: 1px solid var(--c-neutral-dark);
}

label {
    font-weight: 300;
}

.book-label-read {
    grid-row: 3;
    grid-column: 2;
    justify-self: end;
    align-self: end;
    color: var(--c-primary-light);
    font-size: large;
    font-weight: 400;
}



input[type="checkbox"] {
    grid-row: 3;
    grid-column: 3;
    align-self: end;
    justify-content: start;

    appearance: none;
    background-color: transparent;
    border: 1px solid var(--c-primary);
    width: 35px;
    height: 35px;
    border-radius: 10px;
    margin-left: 5px;
    cursor: pointer;
    position: relative;
}


input[type="checkbox"]::after {
    content: "";
    background-color: var(--c-primary);
    width: 30px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    transform: translate(-3px, -3px) scale(0);
    transform-origin: center;
    transition: all 0.5s;
}



input[type="checkbox"]:checked::after {

    transform: translate(-3px, -3px) scale(1);
}

#add-book-btn {
    appearance: none;
    border: none;
    background-color: transparent;
    border: 1px solid var(--c-primary);
    color: var(--c-primary);
    border-radius: 10px;
    padding: 15px;
    align-self: center;
    cursor: pointer;
    transition: all 0.5s;
}

#add-book-btn:hover {
    color: var(--c-background);
    background-color: var(--c-primary);
}

#form-checkbox {
    flex-direction: row;
}

#form-checkbox > label {
    align-self: center;
}

#add-book-form > div {
    position: relative;
}

#cancel-btn, .remove-btn {
    cursor: pointer;
}

#cancel-btn:hover, .remove-btn:hover {
    background-color: var(--c-primary);
    color: var(--c-background);
    transition: background-color 0.5s, color 0.5s;
    


}

#cancel-btn{
    position: absolute;
    transform: translate(210px, -8px);

    padding: 2px 10px;
    background-color: var(--c-background);
    font-size: small;
    
}




.remove-btn {
    grid-column: span 3;
    grid-row: 4;
    align-self: end;
    justify-self: center;
    height: 70%;
    width: 70%;
    border: 2px solid var(--c-primary);
    border-radius: 10px;
    color: var(--c-primary);
    background-color: var(--c-neutral-dark);

    
}
